.heroes_persons {
    margin-top: 80px;
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 100px;
    color: white;
    letter-spacing: 1px;
    transition-delay: 3s;
}

.heroes_persons:hover {
    color: white;
}

.personImage {
    display: flex;
    justify-content: center;
    align-items: center;

}

.personImage img {
    width: 100%;
    height: auto;
    box-shadow: 2px 2px 10px black;
}

.personInfo {
    padding-left: 30px;
    text-align: justify;
}

.person_nonActive {
    margin-bottom:  10px;
    transform: scale(1);
}

.person_active {
    transform: scale(2);
}

@media only screen and (max-width: 1100px) {
    .heroes_persons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .personImage {
        max-width: 95%;
    }

    .personInfo {
        padding: 10px 10px 0;
    }

    .heroes_label {
        left: unset;
    }

}