* {
    padding: 0;
    margin: 0;
}

a, a:hover {
    text-decoration: none;
}


html, body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    background: fixed linear-gradient(to top, black, #004764, #308398) center;
}

#root {
    height: 100%;
    max-width: 1100px;
    margin: 0 auto;
}

.inRoot {
    position: relative;
    height: 100%;
    display: grid;
    grid-template-rows: 100px auto 60px;
}

header {
    width: 100%;
    position: relative;
    display: flex;
    align-items: flex-end;
}

.movieName {
    color: red;
    letter-spacing: 10px;
    font-size: 35px;
    font-weight: bold;
    margin: 0 0 20px 20px;
    text-shadow: 2px 2px 10px black;
}

.movieName:hover {
    color: red;
}

.navPanel {
    margin: 0 0 20px 20px;
    font-size: 14px;
}

.navPanel a{
    text-shadow: 2px 2px 10px black;
    color: white;
    margin: 0 10px;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 10px 0;
    position: relative;
    -moz-transition: ease-out 0.3s 0.1s;
    -o-transition: ease-out 0.3s 0.1s;
    -webkit-transition: ease-out 0.3s;
    -webkit-transition-delay: 0.1s;
    transition: ease-out 0.3s 0.1s;
}

.navPanel a::after {
    height: 2px;
    width: 100%;
    background: white;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.navPanel a:hover::after {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

footer {
    display: flex;
    justify-content: center;
    width: 100%;
    align-self: center;
}


@media only screen and (max-width: 700px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }

    .movieName {
        margin: 28px 0 0 20px;
    }
}
