.movie_about {
    margin-top: 80px;
    display: grid;
    align-items: center;
    flex-direction: column;
    position: relative;
    color: white;
    letter-spacing: 1px;
}

.movie_poster_desc {
    display: grid;
    grid-template-columns: 480px auto;
    margin-top: 70px;
    text-align: justify;
}

.movie_poster_desc_poster {
    margin-left: 100px;
    width: 329.47px;
}

.movie_moreInfo {
    margin-left: 100px;
}

.movie_moreInfo ul {
    margin-top: 30px;
}

.movie_moreInfo ul li{
    list-style: none;
    display: grid;
    grid-template-columns: 150px auto;
}

.movie_moreInfo ul li a {
    color: white;
}

.movie_scenes {
    position: relative;
    margin-top: 80px;
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}


.sceneItem {
    height: 200px;
    width: 200px;
    margin: 0 20px;
    cursor: pointer;
    position: relative;
    z-index: 0;
}

.biggerImg {
    position: absolute;
    padding: 10px;
    box-shadow: 1px -1px 0 1px rgba(255,255,255, 0.1) inset;
    -webkit-box-shadow: 2px -2px rgba(255,255,255, 0.1) inset;
    border: solid transparent;
    border-width: 0 0 1rem 1rem;
    transition: 0.8s;
    z-index: 1;
}

.sceneItem:hover .biggerImg {
    box-shadow: 2px -2px 0 2px white inset;
    -webkit-box-shadow: 4px -4px white inset;
}

.biggerImg_right {
    transform:rotate(180deg);
    position: absolute;
    right: 0;
    top: 0;
}

.biggerImg_left {
    position: absolute;
    left: 0;
    bottom: 0;
}

.gallery {
    width: 100%;
    height: 100%;
    position:fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    color: white;
    font-size: 30px;
}

.shadow {
    background: black;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.gallery i {
    z-index: 2;
    position: fixed;
    top: 20px;
    right: 20px;
    color: rgba(255,255,255, 0.1);
    cursor: pointer;
    transition: 0.8s;
}

.gallery i:hover {
    color: white;
}

.gallery_image {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    top:0;
    bottom: 150px;
    left: 0;
    right: 0;
}

.gallery_image img {
    max-width: 100%;
    max-height: 100%;
    margin: 70px auto 0 auto;
}

.arrow_holder {
    position: absolute;
    height: 100%;
    width: 120px;
    display: flex;
    align-items: center;
    transition: 0.8s;
    cursor: pointer;
}

.arrow_holder:hover > .arrow{
    box-shadow: 2px -2px 0 2px white inset;
    -webkit-box-shadow: 4px -4px white inset;
}

.arrow_holder:hover{
    background-color: rgba(255,255,255, 0.1);
}

.allScenery {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 150px;
    background-color: black;
    display: -webkit-box;
    -webkit-box-align: center;
    overflow-x: scroll;
}

.galleryItem {
    width: 100px;
    height: 100px;
    margin: 0 10px;
    cursor: pointer;
    transition: 0.8s;
}

.galleryItem:hover {
    height: 120px;
    width: 120px;
}

.activeImg {
    border: 2px solid red;
}

.movie_film {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    position: relative;
    margin-top: 80px;
}

.movie_film iframe {
    width: 90%;
    height: auto;
    border: none;
}

.movie_moreInfo ul li div a{
    color: white;
    padding: 2px 0;
    position: relative;
    -moz-transition: ease-out 0.3s 0.1s;
    -o-transition: ease-out 0.3s 0.1s;
    -webkit-transition: ease-out 0.3s;
    -webkit-transition-delay: 0.1s;
    transition: ease-out 0.3s 0.1s;
}

.movie_moreInfo ul li div a::after {
    height: 2px;
    width: 100%;
    background: white;
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.movie_moreInfo ul li div a:hover::after {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

@media only screen and (max-width: 1100px) {
    .movie_about {
        margin-top: 30px;
    }

    .movie_poster_desc {
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .movie_poster_desc div p {
        white-space: pre-line;
        padding: 10px 10px 0 10px;
    }

    .movie_poster_desc_poster {
        margin-left: unset;
    }

    .movie_moreInfo {
        margin-left: unset;
        padding: 0 10px;
    }

    .movie_moreInfo ul li div{
        word-wrap: break-word;
    }

    .movie_scenes {
        flex-direction: column;
        margin-top: 30px;
        height: auto;
        padding: 150px 0 115px 0;
    }
}